*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER*/
header{
    background-color: #ff6900;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column-50{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-25{
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
}

.right{
    justify-content: right;
}

header ul{
    list-style-type: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

header li{
    display: inline-block;
}

.logo{
    width: 30%;
}

header i{
    color: white;
    margin: 5px;
}

.price{
    color: red;
}

/* MAIN */

.row_product{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.product{
    width: calc((100% - 60px) / 3);
    margin: 20px 10px;
    position: relative;
}

.product img{
    width: 100%;
}

.favorite{
    position: absolute;
    padding: 0px 10px;
    top: 20px;
    right: 0px;
    background-color: white;
    font-size: 30px;
}

.favorite:hover{
    color: red;
}

/* Info DIV*/
.info{
    position: absolute;
    bottom: 80px;
    left: 0px;
    display: flex;
    flex-direction: row;
}

.discount{
    background-color: red;
    color: white;
    padding: 0px 10px;
    margin-right: 5px;
}

.sustainability{
    background-color: green;
    color: white;
    padding: 0px 10px;
}


/* Image Hover */
.product:hover .visible-image{
    display: none;
}

.product:hover .hidden-image{
    display: block;
}

.product .visible-image{
    display: block;
}

.product .hidden-image{
    display: none;
}


/* FOOTER */
footer{
    background-color: black;
}

.bottom{
    padding: 30px 0px;
}

.column-60{
    width: 60%;
}

.column-40{
    width: 40%;
    align-items: end;
}

.column-60, .column-40{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

footer ul{
    list-style-type: none;
}

footer li{
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

footer i{
    margin-top: 5px;
}

footer hr{
    width: 100%;
    border: 2px solid white;
}